<div class="footer">
  <div class="link">
    <p>Have 🥂 with Jasmine🌹</p>
    <ul>
      <li>
        <a href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-fw fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</div>